.body-text-container {
    color: rgb(176, 138, 211);
    text-align: center;
    z-index: 1;
  }
.main-text{
    padding: 150px 800px 0px 2px;
}
.btn{
     display: flex;
     flex-direction: column;
     padding: 0px 100px 0px 800px;
     margin-left: 215px;
}
ul{
    list-style: none;
}
.btn1,
.btn2,
.btn3,
.btn4 {
    background-color: #8304aa;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
    border-radius: 5px;
    width: 45%;
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}
.btn1:hover,
.btn2:hover,
.btn3:hover,
.btn4:hover {
    cursor: pointer;
    background-color: transparent;
    color: #8304aa;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}
.name{
    font-size: 4rem;
    color: #9c64ae;
}
p {
    font-size: 2rem;
    padding: 2px;  
    margin-left: 1px;
  } 

.btn1{
  background-color: #9c64ae;
}
.btn1:hover{
  color: #9c64ae;
}
.btn2 {
    background-color: #7c4195;
}

.btn2:hover {
    color: #7c4195;
}

.btn3 {
    background-color: rgb(201, 6, 250);
}

.btn3:hover {
    color: rgb(201, 6, 250);
}

.btn4 {
    background-color: rgb(153, 102, 204);
}

.btn4:hover {
    color: rgb(153, 102, 204);
}

.link-button {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
}
.name {
    font-size: 4rem;
    color: #9c64ae;
}

p {
    font-size: 2rem;
    padding: 2px;
    margin-left: 1px;
}
